/* dark mood color */
:root{
    --yellow:#e42417;
    --black:#ffffff;
    --white:#57606f;
    --yellowoverlay:#e4251773;
}
/* dark mood color end */
/* light mood color  */
:root{
    --pink:#e42417;
    --white:#ffffff;
    --textcolor:#57606f;
    
}
/* light mood color */
/* common css start */
*{
    cursor: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    outline: none;
    text-transform: capitalize;
    font-family: 'Bebas Neue', cursive;
}

*::selection{
    background-color: var(--yellow);
    color: #fff;
}
html{
    overflow-x: hidden;
    
}
a{
    text-decoration: none;
    display: inline-block !important;
}
ul{
    list-style: none;
}
body{
    background-color: var(--black);
    padding-bottom: 100px;
    
}
.active{
   
    --yellow:#f9ca24;
    --black:#2d3436;
    --white:#fff;
    --yellowoverlay:#f9cb2450;
}
/* common css end */


.navs{
    width: 100px;
    height: 400px ;
 
    position: fixed;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    z-index: 9999;
 
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.navs ul {
    position: absolute;
    left: -15px !important;
}
.navs ul li{
    width: 50px;
    height: 50px;
    background-color: var(--yellow);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: relative;
    color: white;
    
    
}
.navs ul li  i{
    color: #fff;
    font-size: 20px;
}
.navs ul li a i{
    color: #fff;
    font-size: 20px;

}
.navname{
    position: absolute;
    width: 0px;
    background-color: var(--yellow);
    height: 50px;
    z-index: -1;
    right: 0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    opacity: 0;
}
.navname h3{
    line-height: 50px;
    margin-left: 30px;
}
.navs ul li:hover .navname{
    width: 200px;
    opacity: 1;
}


/* team start */
.test{
    background-color: var(--black);
    min-height: 100vh;
    position: relative;
    
}
.testactive{
    background-color: var(--black) !important;
    color: var(--yellow) !important;
}
.testactive h3{
    color: var(--white) !important;
}
.testactive i{
    color: var(--yellow) !important;
}
.testheading{
    padding: 20px;
    text-align: center;
    color: var(--white);
    
    font-weight: bold;
}
.testheading span{
    
    color: var(--yellow);
    
    
}
.testheading h1{
    font-size: 100px;
}

/* team body start */
.teamitem{
    border: 2px solid #d1d1d1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px 0 10px 0;
}
.teamitemboox{
    padding: 0 80px;
}

.teamimginner{
    width: 100%;
    position: relative;
}
.teamoverlay{
    position: absolute;
    width: 0;
    height: 100%;
    background-color: var(--yellowoverlay);
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teamoverlay ul li a{
    color: #fff;
    font-size: 18px;
}
.teamoverlay ul li{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 8px;
}
.teamimginner:hover .teamoverlay{
     width: 100%;
     opacity: 1;
}
.teamoverlay ul li:hover{
    background-color: var(--yellow);
    border: 2px solid var(--yellow);
}
.teamtxt p{
    margin-bottom: 0 !important;
}
.teamtxt h4{
    margin-bottom: 0 !important;
    margin-top: 2px;
    color: var(--yellow);
}
.teamtxt h4 span{
    color: var(--white);
}
.teamtxt{
    padding: 15px 12px;
}
.teamcontainer{
    position: relative;
}
.pre{
    position: absolute;
    bottom: -80px;
    left: 80%;
    font-size: 50px;
    color: var(--yellow);
    
}
.nex{
    position: absolute;
    bottom: -80px;
    right: 10%;
    font-size: 50px;
    color: var(--yellow);
}
.nex:hover{
    color: var(--white);
}
.pre:hover{
    color: var(--white);
}
.teamquot h2{
    color: var(--white);
}
.teamquot h2 span{
    color: var(--yellow);
}
.teamquot h3{
    color: var(--yellow);
}
/* Custom Cursor */
.mouse-cursor{position: fixed; left: 0; top: 0; pointer-events: none; border-radius: 50%; -webkit-transform: translateZ(0); transform: translateZ(0); visibility: hidden; }
			.cursor-inner {margin-left: -3px; margin-top: -3px; width: 8px; height: 8px; z-index: 100000000000000000000000; background-color: var(--yellow); -webkit-transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out; transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out; }
			.cursor-inner.cursor-hover {margin-left: -40px; margin-top: -40px; width: 80px; height: 80px; background-color: var(--yellowoverlay); opacity: .3; }
			.cursor-outer {margin-left: -15px; margin-top: -15px; width: 30px; height: 30px; background-color: var(--yellowoverlay); -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 100000000000000000; opacity: .5; -webkit-transition: all .08s ease-out; transition: all .08s ease-out; }
			.cursor-outer.cursor-hover{opacity: 0; }
			body[data-magic-cursor="hide"] .mouse-cursor{display: none; opacity: 0; visibility: hidden; position: absolute; z-index: 111111111111; }

/*Footer start*/
            .codepen_profile{position: fixed; right: 20px; bottom: 20px;}
            .codepen_profile a {background: rgb(245 122 32 / 53%); padding: 15px; border-radius: 50%; box-shadow: hsl(0deg 0% 80%) 0 5px 16px; height: 60px; width: 60px; display: inline-block; }
            /*Footer End*/
/* custom cursor end */
@media  (min-width: 500px) and  (max-width: 768px) { 
    .testheading h1{
        font-size: 70px;
    }
    .pre{
        position: absolute;
        bottom: -40px;
        left: 62%;
        font-size: 30px;
        color: var(--yellow);
        
    }
    .nex{
        position: absolute;
        bottom: -40px;
        right: 25%;
        font-size: 30px;
        color: var(--yellow);
    }
    

}
@media  (min-width: 200px) and  (max-width: 499px) { 
    
    .testheading h1{
        font-size: 50px;
        text-align: left;
    }
    .pre{
        position: absolute;
        bottom: -30px;
        left: 48%;
        font-size: 30px;
        color: var(--yellow);
        
    }
    .nex{
        position: absolute;
        bottom: -30px;
        right: 32%;
        font-size: 30px;
        color: var(--yellow);
    }

}



@media (min-width: 576px) and (max-width: 767px)  { 
    .pre{
        position: absolute;
        bottom: -80px;
        left: 60%;
        font-size: 40px;
        color: var(--yellow);
        
    }
    .nex{
        position: absolute;
        bottom: -80px;
        right: 20%;
        font-size: 40px;
        color: var(--yellow);
    }
 }


@media (min-width: 768px) and (max-width: 991px)   {  
    .pre{
        position: absolute;
        bottom: -80px;
        left: 63%;
        font-size: 50px;
        color: var(--yellow);
        
    }
    .nex{
        position: absolute;
        bottom: -80px;
        right: 20%;
        font-size: 50px;
        color: var(--yellow);
    }
}


@media (min-width: 992px) and (max-width: 1199px)   { 
    .pre{
        position: absolute;
        bottom: -80px;
        left: 70%;
        font-size: 50px;
        color: var(--yellow);
        
    }
    .nex{
        position: absolute;
        bottom: -80px;
        right: 15%;
        font-size: 50px;
        color: var(--yellow);
    }
 }


@media (min-width: 1200px) and (max-width: 1399px)   { 
    .pre{
        position: absolute;
        bottom: -80px;
        left: 80%;
        font-size: 50px;
        color: var(--yellow);
        
    }
    .nex{
        position: absolute;
        bottom: -80px;
        right: 10%;
        font-size: 50px;
        color: var(--yellow);
    }
 }


@media (min-width: 1400px) {
    .pre{
        position: absolute;
        bottom: -80px;
        left: 80%;
        font-size: 50px;
        color: var(--yellow);
        
    }
    .nex{
        position: absolute;
        bottom: -80px;
        right: 10%;
        font-size: 50px;
        color: var(--yellow);
    }
  }


